@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow: #e09600;
  --yellow-dark: #b36f00;
  --blue: #02111e;
  --silver: #e5e5e5;
  --beige: #ece8e1;
}

body {
  background-color: var(--blue);
  color: var(--silver);

  font-family: 'Anton', sans-serif;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-family: 'Tajawal', sans-serif;
}
