@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;

  color: #e5e5e5;

  body {
    background-color: #0B0B0B;
  }
}