.header {
  height: auto;
  width: 100%;
  text-align: center;
}

.headerImage {
  height: auto;
  width: 100% !important; 
  display: block;
}

.title {
  font-family: 'Anton', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 135px;
  line-height: 162px;

  color: #e09600;
}

.leftBackground {
  background: url('../shared/assets/img/background1.png') no-repeat;
  position: absolute;
  height: 500px;
  width: 500px;
  left: 0;
}

.rightBackground {
  background: url('../shared/assets/img/background2.png') no-repeat;
  position: absolute;
  height: 500px;
  width: 500px;
  right: 0;
}