.header {
  height: auto;
  width: 100%;
  text-align: center;
}

.headerImage {
  height: auto;
  width: 100% !important;
  display: block;
}

.backgroundImages {
  position: absolute;
  height: 500px;
  width: 500px;
}

.leftBackground {
  @extend .backgroundImages;
  background: url('../shared/assets/img/background1.png') no-repeat;
  left: 0;
}

.rightBackground {
  @extend .backgroundImages;
  background: url('../shared/assets/img/background2.png') no-repeat;
  right: 0;
}