.backgroundImages {
  position: absolute;
  height: 500px;
  width: 500px;
}

.presentationText p {
  font-size: 1.4rem;
}

.leftBackground {
  @extend .backgroundImages;
  background: url('../shared/assets/img/background1.svg') no-repeat;
  left: 0;
}

.rightBackground {
  @extend .backgroundImages;
  background: url('../shared/assets/img/background2.svg') no-repeat;
  right: 0;
}

.icon:hover {
  color: var(--yellow);
  transition: all 0.1s ease-in-out;
}
