$button-transition-time: 0.3s;

.bigButton {
  padding: 1rem 2rem;
  span {
    font-size: 1.5rem;
  }

  .buttonHole {
    top: 1.5rem !important;
  }
}

.defaultButton {
  background-color: var(--yellow);
  color: var(--silver);

  &:hover {
    background-color: var(--yellow-dark);
  }
}

.outlineButton {
  background-color: transparent;
  border: 3px solid var(--yellow);
  color: var(--silver);

  transition: background-color $button-transition-time,
    color $button-transition-time;

  &:hover {
    background-color: var(--yellow);
    color: var(--blue);

    .buttonHole {
      &Left,
      &Right {
        opacity: 0;
        transition: opacity 0s;
        transition-delay: 0s;
      }
    }
  }
}

.buttonHole {
  &Left,
  &Right {
    :has(.bigButton) & {
      top: 1.6rem !important;
      height: 1rem;
    }

    position: absolute;
    top: 1.2rem;

    height: 0.75rem;
    width: 10px;
    border-radius: 0;

    background-color: var(--blue);

    opacity: 1;
    transition: opacity $button-transition-time * 0.5;
    transition-delay: $button-transition-time * 0.5;

    z-index: 1;
  }

  &Left {
    left: -3px;
  }

  &Right {
    right: -3px;
  }
}