@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow: #e09600;
  --blue: #02111e;
  --silver: #e5e5e5;
  --beige: #ece8e1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--blue));
}
